.logo-container{
    z-index: 0;
    width: 30%;
    height: 100%;
    position:absolute;
    justify-content: center;
    align-content: center;
    top: 10%;
    right:5%;
    bottom:0;
    left:auto;
    margin:auto;

    .solid-logo{
        position: relative;
        margin: auto;
        width: 100%;
        opacity:0.9;
        z-index:1;
    }
}